<%- include('../includes/header') %>
    <title>Login Page</title>
    </head>

    <body>
        <%- include('../includes/navbar') %>

            <h1>Member Login</h1>
            <% if (errorMessage) { %>
                <div class="col-8">
                  <div class="alert alert-danger" role="alert">
                    <%= errorMessage %>
                  </div>
                </div>
              <% } %>
            <form action="/login" method="POST">
                <!-- /login代表下方的submit發生的時，資料所送的位子 -->
                <div>
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email">
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password">
                </div>
                <button type="submit">Login</button>
                <br>
                <%= happyTime %>
            </form>

            <%- include('../includes/footer') %>