<%- include('./includes/header') %>
    <title>
        <%= pageTitle %>
    </title>
    </head>

    <body>
        <%- include('./includes/navbar') %>

        <div>
            <h1>Home page</h1>
            <h1>
                <%= pageTitle %> :)
            </h1>
            <!-- 上面這行是來自aap.js所設定的變數呼叫變數 -->
            <!-- <img src="/images/fire.jpg" alt=""> -->
            <!-- images前需要/ 是因為代表在public底下 
            呼應app.use(express.static(path.join(__dirname, 'public')));
            這函式的功能 -->
            <br>
            <a href="/login/">login</a>
        </div>

        <% if (products.length> 0) { %>
            <% products.forEach((product,)=> { %>
                <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
                <h3>
                    <%= product.title %>
                </h3>

                <% }) %>
                    <% } else { %>
                        <h1>尚無商品</h1>
                        <% } %>
    </body>

    </html>